{% extends "base.html" %}
{% load static %}

{% block title %} Password Change Page {% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <p class="mt-5 p-2 text-secondary fw-bold text-center">
           Change Password with Old Password!
        </p>
        <div class="col-4 offset-4 mt-3 p-1 rounded border-secondary bg-light">
            <h4 class="text-dark fw-bold py-3 text-center">Password Change Form</h4>

            <form action="" method="post" novalidate>
                {% csrf_token %}

                {% for fm in form  %}
                    <div class="px-2">
                        {% comment %} <label for="{{ fm.name.id_for_label }}" class="form-label">Name</label> {% endcomment %}
                        {{ fm.label_tag }}
                        {{ fm }}
                        <p class="text-danger" style="font-size: 0.9rem;">{{ fm.errors | striptags }}</p>
                    </div>                   
                {% endfor %}   

                <!--displaying form.non_field_errors-->
                {% if form.non_field_errors %}                    
                      {% for error in form.non_field_errors %}
                          <p style="font-size: 0.9rem;" class="px-3 text-danger">{{error}}</p>
                      {% endfor %}             
                {% endif %}    
                <button type="submit" class="btn btn-primary  ms-2">Submit</button>
            </form>
        </div>
    </div>
    <!--row for displaying messages-->
    <div class="row mt-3">
      <div class="col-4 offset-4">
          {% if messages %}
              {% for message in messages  %}
                  <p class="text-success fw-bold text-center" style="font-size: 0.9rem;">{{message}}</p>
              {% endfor %}
          {% endif %}
          <!--error disp when email is not verified-->
          <p class="text-center fw-bold text-danger" style="font-size: 0.9rem;">{{error}}</p>
      </div>
    </div>
</div>
{% endblock content %}

