{% extends "base.html" %}
{% load static %}

{% block title %} Password Reset Complete page {% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="content-data mt-5 p-3">
                <h4 class="text-center text-success p-2 bg-light">Password Reset successful!</h4>
                <p class="text-center mt-3 text-secondary">Your password has been reset <a href="{% url "log-in" %}">login now</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

